<header class="site-navbar py-3" role="banner">

  <div class="container-fluid">
    <div class="row align-items-center">

      <div class="col-6 col-xl-3">
        <h1 class="mb-0"><a href="/" class="text-white h2 mb-0">{{ site.title }}</a></h1>
      </div>
      <div class="col-10 col-md-6 d-none d-xl-block">
        <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">

          <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
            <li class="active"><a href="/">Gallery</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/about/">About</a></li>
          </ul>
        </nav>
      </div>

      <div class="col-6 col-xl-3 text-right">
        <div class="d-none d-xl-inline-block">
          <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">

            {% if site.instagram %}
            <li>
              <a href="{{site.instagram}}" class="pl-0 pr-3"><span class="icon-instagram"></span></a>
            </li>
            {% endif %}
            {% if site.pinterest %}
            <li>
              <a href="{{site.pinterest}}" class="pl-3 pr-3"><span class="icon-pinterest"></span></a>
            </li>
            {% endif %}
            {% if site.facebook %}
            <li>
              <a href="{{site.facebook}}" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
            </li>
            {% endif %}
            {% if site.twitter %}
            <li>
              <a href="{{site.twitter}}" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
            </li>
            {% endif %}

          </ul>
        </div>

        <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

      </div>

    </div>
  </div>

</header>
